<!DOCTYPE html>
{% extends "basic_app/basic.html" %}
{% block body_block %}

	<h1>WELCOME TO INDEX</h1>
	<h2>This is index.html page showing</h2>

	<h3>Please fill up the from</h3>
	<form>
		<label id="first">First Name</label><br>
		<input id="first" type="text" name="First name" required="Fisrt name"><br>
		<label id="last">Last Name</label><br>
		<input id="last" type="text" name="last name" required="last name"><br>
		<label id="email">Email</label><br>
		<input id="email" type="email" name="email" required="email" placeholder="Email"><br>
		<label id="con">Phone Number</label><br>
		<input id="con" type="phone" name="phone number" required="phone"><br>
		<P></P>
		<input type="submit" name="Submit">
	</form>
{% endblock %}